:root{
	--main-color: #147B4E;
	--text-color-active: ;
	--text-color-inactive: ;
}

#sideBarCollapse {
	display: none !important;
}

@media screen and (max-width: 800px) {

	#sidebar{

		min-height: 210vh !important;

	}

	#sidebar ul.components {
		top: 4% !important;
		/*position: absolute;*/
	}

	img {
		top: 2% !important;
	}

	.card {
		margin-top: 1rem !important; 
		margin-left: 1rem !important;
		width: 15rem !important; 
	}

	.card-title {
		font-family: 'Saira Extra Condensed', sans-serif;
	  	font-weight: normal;
	  	font-size: 1.5rem !important;
	}

	.card-text {
		font-family: Helvetica;
	  	font-weight: 200;
	  	font-size: 1.5em;
	  	margin-left: 0;
	}

	section.skills-section li {
		margin-left: 1em !important;
	  	font-family: JetBrains Mono;
	  	font-weight: 200;
	  	font-size: 1em !important;
	}

	.social-icons .social-icon {
	    height: 2rem !important;
	    width: 2rem !important;
	    margin: .5rem !important;
	    font-size: 1rem !important;
	    margin-left: 2em !important;
	}

	section { 
		padding-top: 5rem !important;
		padding-left: 1rem !important;
		max-width: 75rem;
		padding-right: 1rem;
		padding-bottom: 2rem;
		max-width: 100px;
		/*position: absolute;*/
	}

	p {
		font-size: 1em !important;
	}

	#sideBarCollapse {
		position: relative;
		margin-left: -.05rem;
	  	text-align: center;
	  	display: block !important;
	  	height: 100px;
	  	width: 60px;
	}

	#name, #uwt, #spscc, .primary-color-word {
		font-size: 2rem !important;
	}

	.collapsed {
	    min-width: 75px !important;
	    max-width: 75px !important;
	    min-height: 200vh;
	    background: var(--main-color);
	    text-align: center;
	    padding: 0rem;
	}

	.collapsed img {
		display: none !important;
	}

	.collapsed ul.components {
		display: none !important;
	}
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

body {
    background-color: #f5f5f5 !important;
}

h1 {
	font-family: 'Saira Extra Condensed', sans-serif;
  	font-weight: 900;
  	margin-left: .7em;
  	font-size: 4em !important;
}

img {
	border-radius: 70%;
	width: 200px;
    height: 200px;
    border: 7px solid #1DAF70;
    position: relative;
  	top: 15%;
}

p {
  	margin-left: 2em;
  	font-family: JetBrains Mono;
  	font-weight: 200;
  	font-size: 1.5em;
}

.hidden {
	display: none !important;
}

#uwt {
	color: var(--main-color);
}

#spscc {
	color: var(--main-color);
}

.college-date {
	text-align: right;
	float: right;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
	background-color: var(--main-color) !important;
	border-color: #1DAF70 !important;
}

.card {
	margin-top: 1.5rem;
}

.card-title {
	font-family: 'Saira Extra Condensed', sans-serif;
  	font-weight: normal;
  	font-size: 2em;
}

.card-text {
	font-family: Helvetica;
  	font-weight: 200;
  	font-size: 1.5em;
  	margin-left: 0;
}

section.projects-section{
 	padding-top: 12rem;
}

section.skills-section{
	padding-top: 15rem;
}

section.projects-section .card{
	display: inline-block;
	margin-left: 2em;
}

section.skills-section li {
	margin-left: 2em;
  	font-family: JetBrains Mono;
  	font-weight: 200;
  	font-size: 1.5em;
}

section.education-section p{
	display: inline-block;
}

section {
	display: block;
	align-items: center;
	padding-top: 22rem;
	padding-left: 3rem;
	max-width: 75rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
}

.primary-color-word{
	color: var(--main-color);
}


.social-icons .social-icon {
    height: 3.5rem;
    width: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    color: white;
    background-color: var(--main-color);
    border-radius: 100%;
    font-size: 1.5rem;
    margin-left: 2em;
}

.social-icons .social-icon:last-child {
	margin-right: 0;
}
.social-icons .social-icon:hover {
	background-color: #119DA4;
}

#sidebar {
    min-width: 300px;
    max-width: 300px;
    min-height: 125vh;
    background: var(--main-color);
    text-align: center;
    padding: 0.5rem;
}

#sidebar ul.components {
    position: relative;
  	top: 17%;
  	text-align: center;
  	display: block;
  	font-family: "Saira Extra Condensed";
  	font-weight: bold;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 3em;
    display: block;
    text-decoration: none;
    color: #86BA90;
}

#sidebar ul li a:hover {
    color: var(--main-color) !important;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}